.articleCard {
  display: flex;
  gap: 30px;
  @media only screen and (max-width: 768px) {
    gap: 0;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .articleCard__img {
    margin-top: 30px;
    width: 368px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

