.articleCard__text {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  padding: 30px;

  @media only screen and (max-width: 600px) {
    width: 320px;
  }

  @media only screen and (max-width: 425px) {
    width: 100%;
  }

  .articleCard__tag {
    color: #1C1C1C80;
    font-size: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  .articleCard__title {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 33px;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 425px) {
      font-size: 20px;
    }
  }

  .articleCard__title:hover {
    text-decoration: underline;
  }

  .articleCard__author {
    color: #1C1C1C80;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.articleCard__textTop {
  position: absolute;
  left: 40px;

  @media only screen and (max-width: 600px) {
    left: 20px;
    padding: 30px;
  }
  @media only screen and (max-width: 425px) {
    position: relative;
    left: 0;
    padding: 0;
  }
}

.articleCard__textLeft {
  position: absolute;
  right: 40px;
  top: 40px;

  @media only screen and (max-width: 600px) {
    top: 20px;
    right: 20px;
    padding: 30px;
  }
  @media only screen and (max-width: 425px) {
    position: relative;
    left: 0;
    padding: 0;
  }
}




