.articleCard__text {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  padding: 30px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0;
  }
  @media only screen and (max-width: 425px) {
    width: 100%;
  }

  .articleCard__tag {
    color: #1C1C1C80;
    font-size: 20px;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  .articleCard__title {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 33px;
    font-weight: 700;
    transition: 300ms;
    position: relative;

    &:hover {
      transform: scale(1.01);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: black;
      transition: width 0.5s;
    }

    &:hover:after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 2px; /* Высота линии */
      background-color: red; /* Цвет подчеркивания при появлении линии*/
      transition: width 0.5s;  /* Время эффекта */
    }
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 425px) {
      font-size: 20px;
    }
  }

  //.articleCard__title:hover {
  //  text-decoration: underline;
  //}

  .articleCard__author {
    color: #1C1C1C80;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .articleCard__description {
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.articleCard__textTop {
  position: absolute;
  left: 40px;
  @media only screen and (max-width: 600px) {
    left: 20px;
    padding: 30px;
  }
  @media only screen and (max-width: 425px) {
    position: relative;
    left: 0;
    padding: 0;
  }
}

.articleCard__textLeft {
  position: absolute;
  right: 40px;
  top: 40px;
  @media only screen and (max-width: 600px) {
    top: 20px;
    right: 20px;
    padding: 30px;
  }
  @media only screen and (max-width: 425px) {
    position: relative;
    left: 0;
    padding: 0;
  }
}

