.header {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  @media only screen and (max-width: 768px) {
    justify-content: space-between;
  }

  .header__burger {
    display: block;
  }
}

.header__links {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-family: "Libre Baskerville", sans-serif;
  @media only screen and (max-width: 425px) {
    position: absolute;
    right: -300px;
    display: flex;
    transition: 400ms;
  }
}

.header__links_active {
  position: fixed;
  background: #c5c5c5;
  width: 90%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  flex-direction: column;
  padding: 40px;
  font-size: 32px;

  .header__hamburger__top {
    position: absolute;
    right:40px;
  }
}

.header__link {
  font-family: "Libre Baskerville", sans-serif;
}


.header__linkActive {
  font-weight: 700;
}

.header__link:hover {
  transform: scale(1.1);

  @media only screen and (max-width: 425px) {
    transform: none;
  }
}

.header__logo__isActive {
  cursor: auto;
}

.header__logo__transform:hover {
  transform: scale(1.05);
}

.header__img {
  width: 180px;
  height: 60px;
}

.header__hamburger {
  display: none;
  @media only screen and (max-width: 425px) {
    display: block;
  }
}

